# Node.js
node_modules/
npm-debug.log
yarn-error.log
.api

# Logs
logs
*.log
*.log.*

# Ignore Kafka data directory
kafka-data/


# IDE/Editor settings
.vscode/
.idea/
*.swp
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build artifacts
dist/
build/